body {
  font-family: "Roboto", sans-serif;
}
/*font-family: 'PT Serif', serif;*/
p,
ul,
h1,
h2,
h3 {
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
ul {
  padding: 0;
  list-style: none;
}
.conteiner {
  width: 1150px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
/*-----🤞Header Logo✌️-----*/
.header {
  background: #c4c4c4;
  /*opacity: 0.3;*/
  /*border-bottom: 1px solid #d9d9de;*/
}
.page-nav {
  border-top: 2px solid black;
  margin-top: 20px;
}
.page-nav__list {
  display: inline-flex;
}
.page-nav__item {
  margin-right: 32px;
}
.page-nav__item:last-child {
  margin-right: 0px;
}
.page-nav__link {
  font-size: 16px;
  line-height: 1.18;
  color: #ffffff;
}
.logo {
  display: flex;
}
/*------КАТЕГОРИЯ ТУРОВ-----
-------------------------*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.categories-card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -32px;
  margin-bottom: -32px;
}
.categories-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  padding-top: 13px;
  padding-bottom: 16px;
  padding-left: 19px;
  padding-right: 19px;
}
.categories-item {
  width: 256px;
  margin-left: 32px;
  margin-bottom: 32px;
  border: 1px solid #d9d9de;
  box-sizing: border-box;
  border-radius: 6px;
  overflow: hidden;
}
.categories {
  padding-top: 48px;
  padding-bottom: 64px;
}
/*---------FOOTER------
------------------------*/
.footer {
  max-width: 11500px;
  height: 331px;
  left: 0px;
  top: opx;
  background: #202020;
}
.footer-top {
  display: flex;
}
.footer-block {
  margin-right: 79px;
}
.footer-block:nth-child(5) {
  margin-right: 0px;
}
.footer-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 10px;
}

.footer-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #ffffff;
  opacity: 0.8;
  margin-bottom: 10px;
}
.footer-item:nth-last-child(1) {
  margin-bottom: 0;
}
.footer-bottom {
  display: flex;
}
