.about {
  padding-bottom: 32px;
}
.about__title {
  font-family: PT Serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.31;
  color: $textColor;
  margin-bottom: 20px;
}
.about__text {
  font-size: 16px;
  line-height: 1.31;
  color: $colorPtext;
  max-width: 288px;
  margin-bottom: 15px;
}
.about_btn {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  font-size: 14px;
  line-height: 1.14;
  text-decoration-line: underline;
  color: $linkcolor;
  margin-bottom: 36px;
  cursor: pointer;
}
.about__video {
  width: 288px;
  height: 171px;
}
