.about {
  padding-bottom: 32px;
}
.about__title {
  font-family: PT Serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.31;
  color: $textColor;
  margin-bottom: 20px;
}
.about__text {
  font-size: 16px;
  line-height: 1.31;
  color: $colorPtext;
  max-width: 288px;
  margin-bottom: 15px;
}
.about__btn {
  font-size: 14px;
  line-height: 1.14;
  text-decoration-line: underline;
  color: $linkcolor;

  cursor: pointer;
}
.about__video {
  width: 288px;
  height: 171px;
  margin-top: 36px;
}
.about__text-checked {
  display: none;
}
.about__chekbox:checked + .about__text-checked {
  display: block;
}
.about__btn2 {
  font-size: 14px;
  line-height: 1.14;
  text-decoration-line: underline;
  color: $linkcolor;

  cursor: pointer;
}
.about__btn2 {
  display: none;
}
.about__chekbox:checked ~ .about__label .about__btn2 {
  display: block;
}
.about__chekbox:checked ~ .about__label .about__btn {
  display: none;
}
.about__chekbox {
  appearance: none;
}
