.categories {
  padding-top: 16px;
  padding-bottom: 16px;
}
.categories__subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: $textColor;
}
.categories__block {
  padding: 18px 0 18px 20px;
}
.categories__item {
  border: 1px solid $backgroundbordercolor;
  box-sizing: border-box;
  border-radius: 6px;
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}
