.directions {
  padding-top: 44px;
  padding-bottom: 60px;
  background-color: rgba(112, 207, 41, 0.07);
}
.directions__title {
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 29px;
  text-align: center;
  color: $textColor;
}
