.features {
  padding-top: 27px;
  padding-bottom: 23px;
}
.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  text-align: center;
}
.features__number {
  font-family: PT Serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.29;
  color: $nombercolor;
  display: flex;
}
.features__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -40px;
}
.features__item {
  margin-top: 40px;
  flex-basis: calc((100%-40px) / 2);
}
.features__text {
  @media screen and (min-width: 320px) and (max-width: 735px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    color: $textColor;
    max-width: 138px;
    &--age {
      max-width: 92px;
    }
    &--hotel {
      max-width: 75px;
    }
    &--tour {
      max-width: 73px;
    }
    &--metr {
      max-width: 138px;
    }
  }
}
