.form {
  padding-top: 29px;
  padding-bottom: 44px;
  background: $formcolor;
}

.form__title {
  font-family: PT Serif;
  font-style: normal;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.31;
  text-align: center;
  color: $textColor;
  @media screen and (min-width: 320px) and (max-width: 735px) {
    max-width: 248px;
    margin-bottom: 14px;
  }
}
.form__input {
  @media screen and (min-width: 320px) and (max-width: 735px) {
    width: 100%;
    height: 44px;
    background: $whiteColor;
    border: 1px solid $backgroundbordercolor;
    outline: none;
    margin-bottom: 16px;
  }
  &::placeholder {
    font-size: 16px;
    line-height: 1.31;
    color: $linkcolor;
    padding: 11px 0 12px 14px;
  }
}
@media screen and (min-width: 320px) and (max-width: 735px) {
  .form__label {
    display: flex;
    margin-bottom: 6px;
    font-size: 15px;
    line-height: 1.93;
    color: $linkcolor;
  }
  .form__date {
    width: 136px;
    height: 44px;
    outline: none;
    border: 1px solid $backgroundbordercolor;
    color: $linkcolor;
    padding: 11px 0 11px 1px;
  }
  .form__textarea {
    width: 100%;
    resize: none;
    padding: 11px 14px;
    outline: none;
    border: 1px solid $backgroundbordercolor;
    margin-bottom: 21px;
  }
}
.form__div {
  display: flex;
  margin-bottom: 16px;
}
.form__div2 {
  margin-left: auto;
}
.form__chek {
  display: flex;
  position: relative;
  align-items: baseline;
  margin-bottom: 27px;
}
.form__box {
  position: absolute;
  border: 2px solid $linkcolor;
  border-radius: 2px;
  width: 26px;
  height: 26px;
  left: 0;
  top: 5px;
}
.form__chekhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  text-align: center;
}
.form__chekhidden:checked + .form__box {
  background-color: $colorLinkblu;
  border-color: $whiteColor;
  background-size: contain;
  background-origin: border-box;
  background-image: url(../../images/icon-check.svg);
}
.Form__text {
  font-size: 14px;
  line-height: 1.28;
  text-decoration-line: underline;
  color: $linkcolor;
  padding-left: 58px;
}
.form__btn {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: $whiteColor;
  width: 288px;
  border: none;
  padding: 15px 60px;
  background: $colorLinkblu;
  border-radius: 25px;
  cursor: pointer;
}
