.map {
  padding-top: 32px;
  padding-bottom: 40px;
}
.map__title {
  font-family: PT Serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  text-align: center;
  color: $textColor;
  margin-bottom: 19px;
}
