.mobile__menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 30px 20px 20px 20px;
  z-index: 1000;
  transform: translateY(105%);
  transition: transform 250ms ease-in-out;
  background: rgba(32, 32, 32, 1);
  overflow-y: scroll;
}
.mobile__menu.is-open {
  transform: translateY(0);
}
.mobile__buttn {
  position: absolute;
  padding: 0;
  background: transparent;
  border: none;
  top: 8px;
  right: 8px;
}
.mobile__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-transform: uppercase;
  color: $whiteColor;
  margin-bottom: 10px;
}
.mobile__link {
  font-size: 16px;
  line-height: 1.31;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 10px;
}
.mobile__icon {
  fill: $whiteColor;
}
.mobile__list {
  margin-bottom: 15px;
}
.mobile__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  color: $whiteColor;
}
.mobile__text-address {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  color: rgba(255, 255, 255, 0.7);
}
