.page-header {
  position: absolute;
  width: 100%;
  &__after::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    background: $backgroundhedar;
    opacity: 0.3;
    border: 1px solid $backgroundbordercolor;
  }
}
.page-header__block {
  display: flex;
  width: 100%;
  padding-top: 17px;
  padding-bottom: 17px;
  align-items: center;
}
.logo {
  margin-right: 15px;
  &__text {
    font-family: PT Serif;

    color: $whiteColor;
  }
  &__text2 {
    color: $whiteColor;
  }
  &__menu {
    margin-left: auto;
    padding: 0;
    border: 0;
    background-color: transparent;
    color: $whiteColor;
  }
}
.logo__icon {
  fill: $whiteColor;
}
.page-header__contacts {
  @media screen and (max-width: 319px) {
    display: none;
  }
  @media screen and (min-width: 320px) {
    display: none;
  }
}
.page-header__button {
  @media screen and (max-width: 319px) {
    display: none;
  }
  @media screen and (min-width: 320px) {
    display: none;
  }
}
.page-nav {
  @media screen and (max-width: 319px) {
    display: none;
  }
  @media screen and (min-width: 320px) {
    display: none;
  }
}
