.suggestions {
  padding-top: 25px;
  padding-bottom: 32px;
  @media screen and (min-width: 736px) and (max-width: 1087px) {
    padding-top: 33px;
    padding-bottom: 40px;
  }
}

.suggestions__title {
  font-family: PT Serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  color: $textColor;
  max-width: 230px;
  margin-bottom: 7px;
  @media screen and (min-width: 736px) and (max-width: 1087px) {
    font-size: 30px;
    line-height: 1.33;
    max-width: 403px;
    margin-bottom: 24px;
  }
}
.suggestions__item {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
  @media screen and (min-width: 736px) and (max-width: 1087px) {
    width: 320px;
  }
}
.suggestions__img {
  @media screen and (min-width: 736px) and (max-width: 1087px) {
    width: 320px;
  }
}
.suggestions__item-datsan {
  width: 671px;
}
.suggestions__img-width {
  width: 671px;
}
.suggestions__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: $whiteColor;
  margin-bottom: 179px;
}
.suggestions__price {
  font-size: 14px;
  line-height: 18px;
  color: $whiteColor;
}
.suggestions__block {
  position: relative;
}
.suggestions__block2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(255, 255, 255, 0.1) 48.44%,
    rgba(255, 255, 255, 0.1) 76.04%,
    rgba(0, 0, 0, 0.7) 100%
  );
  border-radius: 6px;
  padding: 18px 22px 21px 18px;
}
.suggestions__block2--ulan {
  padding: 17px 52px 32px 18px;
}
.suggestions__subtitle--margin {
  margin-bottom: 165px;
}
.suggestions__subtitle--datsan {
  margin-bottom: 190px;
}
.suggestions__item-hidden {
  @media screen and (min-width: 320px) and (max-width: 735px) {
    display: none;
  }
  @media screen and (min-width: 736px) {
    display: block;
  }
}
.offer__block {
  position: relative;
}
.offer__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  border-radius: 6px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.offer__subtitle {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.31;
  text-align: center;
  color: $whiteColor;
  max-width: 236px;
}
