.suggestions {
  padding-top: 25px;
  padding-bottom: 32px;
}
.suggestions__title {
  font-family: PT Serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  color: $textColor;
  max-width: 230px;
  margin-bottom: 7px;
}

.suggestions__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: $textColor;
}
.suggestions__price {
  color: $textColor;
}
.suggestions__img {
  background: linear-gradient(
    180deg,
    #000000 0%,
    #ffffff 48.44%,
    #ffffff 76.04%,
    #000000 100%
  );
}
.suggestions__item {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.8) rgba(255, 255, 255, 0.8) rgba(255, 255, 255, 0.8)
      rgba(0, 0, 0, 0.8)
  );
}
