body {
  font-family: "Roboto", sans-serif;
}
p,
ul,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
ul {
  padding: 0;
  list-style: none;
}
.conteiner {
  padding-left: 16px;
  padding-right: 16px;
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 320px) {
    width: 320px;
  }
  @media screen and (min-width:736px){
    width: 736px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
