$textColor: #000000;
$whiteColor: #ffffff;
$backgroundhedar: #c4c4c4;
$backgroundbordercolor: #d9d9de;
$directionscolor: #70cf29;
$colorPtext: #333333;
$linkcolor: #76767a;
$colorLinkblu: #0050b2;
$nombercolor: #64bd22;
$formcolor: #f5f5f7;
$colorchekbox: rgb(9, 134, 172);
